#apiVersion: v1
#kind: Namespace
#metadata:
#  name: zisefeizhu-dev
#  labels:
#    test: zisefeizhu
---
apiVersion: workloads.zise.feizhu/v1alpha1
kind: Workload
metadata:
  name: dev
  namespace: zisefeizhu-dev
  labels:
    test: zisefeizhu
    test1: zisefeizhu1
spec:
# # type: deployment/statefulSet/daemonSet/job/cronJob 
  type: deployment 
  selector:
    matchLabels:
      test: zisefeizhu
      test1: zisefeizhu1
  replicas: 3
  serviceType: ClusterIP 
  servicePorts:
  - name: name-of-service-port
    protocol: TCP
    port: 80
    targetPort: http-web-svc
  enableService: true
  template:
    metadata:
      labels:
        test: zisefeizhu
        test1: zisefeizhu1
    spec:
      containers:
      - name: nginx
        image: nginx:1.14.2
        ports:
        - containerPort: 80
